
.carousel-img{
    background-color:rgba(0,0,0 .7) ;
        
}

.font{
    font-family: 'Girassol', cursive;
}
#banner{

    background-image: url(../img/img5.jpg);
    background-size: cover;
    padding: 20% 2%;
    position:relative;
    z-index:1;
    background-attachment: fixed;
}

#banner::after{
    content: '';
    position:absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    left:0;
    top:0;
    opacity:0.55;
    z-index:-1; 
}

#banner h1{
    color:white;
    position:relative;
    font-size:4rem;
}

/* Ninguna de las imagenes son de mi propiedad, a continuación están los links de los autores

Imágenes en Unsplash: https://unsplash.com/@xps
Logo Dell: https://worldvectorlogo.com/logo/dell-1

*/

:root {
    --dark: #16191C;
    --dark-x: #1E2126; 
    --light: #ffffff;
}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--light);
}

.text-light { color: var(--light) !important; }
.bg-dark { background-color: var(--dark) !important; }
.bg-dark-x { background-color: var(--dark-x); }

.btn {
    min-height: 3.125rem;
    font-weight: 600;
}

.form-control {
    min-height: 3.125rem;
    line-height: initial;
}
.form-control:focus {
    background-color: var(--dark-x);
    outline: none;
}

.img-1 {
    background-image: url("../img/img8.jpg");
    background-size: cover;
    background-position: center;
}

.img-2 {
    background-image: url('../img/img7.jpg');
    background-size: cover;
    background-position: center;
}

.bg{
    background-image: url(../img/img9.jpg);
    background-size: cover;
    background-attachment: fixed;
}